    <div class="outer-container">
        <div class="titular">
            <img src="../../assets/topvector.png" class="bg">
            <!-- <button class="dropbtn" style="margin-right: 100px;">Register</button>
            <div class="dropdown-content">
                <a class="nav-link" routerLink='add'>Register User</a>
                <a class="nav-link" routerLink='addvoter'>Register Voter</a>
            </div> -->
            <button class="btnlogin" ><a class="nav-link" routerLink='login'>Login</a> </button>
            <title class="side">Already a member?</title>
            <p class="tagline">One Vote. Rock The Boat.</p>
            <p class="subtitle" style="color:#480032">Every vote makes a difference</p>
        </div>

        <div class="context">
            <h1>Reverse The Trend. APATHY can't solve the Problems</h1>
            <p class="line"></p>
            <p>When you think of your future, you want it to be in a <br/>Stable , Developed , Progressive environment <br/> Right?</p>
            <p>And how do you play your part in achieving this?<br/>YES!!!! Through Online Voting System</p>
        </div>
        
        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li> 
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div >
        
        <div class="gallery">
            <h1>Explore OVS</h1>
            <div class="grid">
                <img src="../../assets/1.jpg">
                <img src="../../assets/2.jpg">
                <img src="../../assets/3.png">
                <img src="../../assets/5.webp">
            </div>	
            <footer class="footer_banner">
            </footer>
    </div> 
