<nav *ngIf="role===null" class="navbar navbar-expand-sm"style="background-color:#222D32">
    <a class="navbar-brand" href="#">OVS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='login'>Login</a>
        </li>
        <li>
        <a class="nav-link" routerLink='add'>Register User</a>
        </li>
        <li>
          <a class="nav-link" routerLink='addvoter'>Register Voter</a>
          </li>
      </ul>
    </div>
  </nav>
  <nav *ngIf="role==='user'" class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">OVS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='users'>Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='nominatedcandidates'>Nominated Candidates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='electionresults'>ElectionResult</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav *ngIf="role==='officer'" class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">OVS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='users'>Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='voters'>Registered Society Voters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='nominatedcandidates'>Nominated Candidates</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink='updatenominatedcandidate/:candidateId'>Update Nominated Candidates</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink='electionresults'>ElectionResult</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='listofvotedlist'>voted list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav *ngIf="role==='admin'" class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">OVS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='users'>Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='societies'>Cooperative Society</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='voters'>Registered Society Voters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav *ngIf="role==='voter' || role ==='NominatedCandidates' " class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">OVS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='voters'>Registered Society Voters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='nominatedcandidates'>Nominated Candidates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='electionresults'>ElectionResult</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='listofvotedlist'>voted list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Online Voting System</h1>
      <p class="lead">user page</p>
      <hr class="my-2">
    </div>
  </div> -->

  <div>
   <router-outlet></router-outlet>
  </div> 